#body{
background-color: rgb(198, 104, 104);
background-repeat: no-repeat, repeat;
background-size: 1920px 1080px;
}

.img{
    text-align: center;
}
p{
   font-weight: bold; 
   text-transform: capitalize;
   margin: 1em;
   font-size: 1.2rem;
}
h1{
    font-weight: bold;
    font-style: italic;
    background-color: beige;
}